h2 {
    width: 100%;
}

form {
    width: 100%;
}

form input {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 200;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 2px solid var(--primary);
    border-radius: 0.5em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary-foreground);
}

.field-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
}