#content {
    grid-template-columns: 1.93fr 6fr;
    gap: 40px;
}

#right .top {
    padding: 10px 20px;
    margin-bottom: 10px;
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.note, .note-form {
    position: relative;
    display: inline-block;
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgb(184, 53, 240);
    color: black;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.note-title {
    margin: 0;
}

.note-content {
    margin: 5px 0 0 0;
    font-size: 0.9em;
    scrollbar-width: none;
}

.note-form {
    background-color: var(--panel);
    filter: drop-shadow(0 0 5px var(--shadow));
    border: 1px solid var(--border);
}

.note *, .note-form * {
    width: 100%;
}

.note-form input {
    margin-bottom: 10px;
}

.note-form textarea, .note p {
    height: 100%;
    overflow: scroll;
    resize: none;
    padding: 5px;
}

.note-form button, .note button {
    position: absolute;
    display: inline-block;
    background-color: var(--panel);
    width: 35px;
    height: 35px;
    border-radius: 10px 0;
    left: 82%;
    top: 82%;
    color: var(--secondary-foreground);
    filter: drop-shadow(0 0 3px var(--shadow));
    font-size: 0.9em;
}

.create-note {
    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    background-color: var(--panel);
    filter: drop-shadow(0 0 5px var(--shadow));
    margin-bottom: 10px;
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.create-note * {
    font-size: 4em;
    opacity: 0.5;
}