h2 {
    width: 100%;
}

form {
    width: 100%;
}

input {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 200;
    padding: 10px 15px;
    margin-bottom: 1em;
    border: 2px solid var(--primary);
    border-radius: 10px;
    width: 100%;
    background-color: transparent;
    color: var(--foreground);
}

::placeholder {
    color: var(--tertiary-foreground);
}

.field-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
}