/*

Base file for all pages.

*/

/* Variables */

:root {
    --foreground: #ebebeb;
    --secondary-foreground: rgb(184, 94, 225);
    --tertiary-foreground: #e2b3ff;
    --primary: #781ab3;
    --secondary: #4f0d7db1;
    --tertiary: #1e092eb1;
    --background: #000000;
    --panel: rgba(0, 0, 0, 0.73);
    --border: #946bc9b0;
    --shadow: rgba(175, 36, 255, 0.503);
    --blue-gradient: linear-gradient(to right, rgba(29, 37, 183, 0.582), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
    --purple-gradient: linear-gradient(to left, rgba(80, 20, 125, 0.582), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}

/* @font-face {
    font-family: 'Roundo';
    src: url('/assets/fonts/roundo/Roundo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-VariableFont.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('/assets/fonts/Inter/static/Inter_18pt-Medium.ttf') format('truetype');
} */

/* Reset and fixes */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button, a {
    outline: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

/* Default styling */

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background);
}

.logo, .small-logo, .header, .paragraph, .large-btn {
    color: var(--foreground);
    font-family: "Fredoka";
}

.paragraph {
    color: var(--secondary-foreground);
}

.windowed-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0 20px 20px 0;
    object-fit: cover;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    object-fit: cover;
    z-index: 0;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #00000036;
    border: 2px solid var(--secondary);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}