/*

Base file for all pages.

*/

/* Variables */

:root {
    --foreground: #ebebeb;
    --secondary-foreground: rgb(184, 94, 225);
    --tertiary-foreground: #e2b3ff;
    --primary: #781ab3;
    --background: #000000;
    --panel: rgba(0, 0, 0, 0.666);
    --border: #946bc9b0;
    --shadow: rgba(175, 36, 255, 0.364);
    --blue-gradient: linear-gradient(to right, rgba(29, 37, 183, 0.582), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
    --purple-gradient: linear-gradient(to left, rgba(80, 20, 125, 0.582), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}

/* Fonts* */

@font-face {
    font-family: 'Roundo';
    src: url('/assets/fonts/roundo/Roundo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-VariableFont.ttf') format('truetype');
}

/* Reset and fixes */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Roundo';
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

input[type="text"], input[type="password"], input[type="email"], button, a {
    outline: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}