/* 

Styling for all application pages: tasks, today, list, and notes.

*/

main {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    padding: 30px 0;
    gap: 40px;
    height: 100vh;
    color: var(--foreground);
}

main > * {
    z-index: 1;
}

section {
    overflow: scroll;
    scrollbar-width: none;
}

.section-list button {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    padding: 0 15px;
    margin-bottom: 15px;
    color: var(--foreground);
}

.section-list button:hover {
    background-color: var(--secondary);
}

.selected-btn {
    background-color: var(--secondary) !important;
}

.selected-btn:hover {
    background-color: var(--primary) !important;
}

.sidebar {
    padding: 15px;
    background-color: var(--panel);
    border: 1px solid var(--border);
    filter: drop-shadow(0 0 10px var(--shadow));
}

#left {
    border-radius: 0 20px 20px 0;
    border-left: 0;
    /* flex-grow: 1; */
    /* padding-left: 30px; */
}

#right {
    border-radius: 20px 0 0 20px;
    /* flex-grow: 2; */
    border-right: 0;
    /* padding-right: 30px; */
}

#middle {
    flex-grow: 2;
    background-color: rgba(38, 0, 60, 0.95);
    padding: 20px;
    border-radius: 20px;
}

#background {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* filter: blur(5px); */
    z-index: 0;
    object-fit: cover;
}

.section-header {
    margin: 0;
    display: inline-block;
    font-family: "Fredoka";
}

.left-btn {
    height: 25px;
    width: 25px;
    margin: 0;
    padding: 0;
    filter: invert(1);
}

.top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 15px;
}

.text-field {
    width: 100%;
    height: 45px;
    background-color: #00000036;
    border-radius: 10px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid var(--border);
    padding: 0 15px;
    margin-bottom: 15px;
    color: var(--foreground);
}

option {
    background-color: var(--primary);
    color: var(--foreground);
    border: none;
    padding: 10px;
}

.large-field {
    width: 100%;
    height: 120px;
    resize: none;
    font-family: inherit;
    font-size: 0.8em;
    padding: 10px 15px;
}

.section-list > button {
    display: flex;
    justify-content: space-between;
    height: 35px;
    margin-bottom: 10px;
    text-align: left;
    align-items: center;
    padding: 10px;
}

.section-list > button > div {
    display: flex;
    align-items: center;
}

.btn-icon {
    margin: 0 5px;
    margin-right: 12px;
    filter: invert(1);
    width: 15px;
}

.btn-text {
    height: 100%;
    font-size: 0.9em;
}

.counter {
    background-color: var(--secondary);
    color: var(--tertiary-foreground);
    border-radius: 30%;
    padding: 2px 9px;
    font-size: 0.9em;
    /* margin-left: 0.5em; */
}

.labelled-input {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.labelled-input label {
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 0.8em;   
}

.small-input {
    height: 35px;
    background-color: #00000036;
    border-radius: 10px;
    border: 0;
    outline: 0;
    padding: 0 15px;
    /* margin-bottom: 15px; */
    color: var(--foreground);
}

.tag {
    background-color: var(--secondary);
    color: var(--tertiary-foreground);
    border-radius: 10px;
    padding: 2px 9px;
    font-size: 0.7em;
    margin-right: 5px;
    height: 20px;
}

.add-tag {
    /* background-color: var(--secondary); */
    color: var(--tertiary-foreground);
    border-radius: 10px;
    padding: 2px;
    font-size: 1.5em;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

input[type="checkbox"]:checked {
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid var(--tertiary-foreground);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.check-grp {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task {
    margin-top: 10px;
}

.task-head {
    display: flex;
    /* justify-content: space-between;   */
    align-items: center;
    height: 30px;
}

.task-head * {
    margin-right: 5px; 
}

.task-head button {
    height: 25px;
    width: 25px;
    margin: 0;
    padding: 0;
    color: var(--primary);
}

.task-details {
    color: var(--secondary-foreground);
    margin: 0 10px;
    width: 30px;
    height: 20px;
}

.task-data p {
    display: inline-block;
    border-radius: 10px;
    padding: 3px 8px;
    font-size: 0.7em;
    color: var(--tertiary-foreground);
    background-color: var(--secondary);
    margin-right: 5px;
}

.panel-background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-background img {
    position: absolute;
    filter: brightness(0.8);
    fill: var(--secondary);
    opacity: 1;
    width: 300px;
    height: 300px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--panel);
    border: 1px solid var(--border);
    filter: drop-shadow(0 0 7px var(--shadow));
}

.task-item:hover {
    background-color: var(--tertiary);
}

.solid-button-group {
    display: flex;
    justify-content: space-evenly;
    /* gap: 10px; */
    width: 100%;
    margin: 20px 0 40px;
}

.solid-button {
    background-color: var(--secondary);
    color: var(--tertiary-foreground);
    border-radius: 10px;
    padding: 5px 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 30%;
}

.solid-button:hover {
    background-color: var(--primary);
}

.danger-button {
    background-color: transparent;
    color: rgb(228, 88, 88);
    border: 1px solid rgb(228, 88, 88);
}

.danger-button:hover {
    background-color: rgb(228, 88, 88);
    color: var(--tertiary-foreground);
}

#big-menu img {
    filter: invert(1);
    width: 2em;
}