/* 

Styling for header and footer.

*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--blue-gradient);
    position: relative;
    height: 60px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-foreground);
}

nav ul li a:hover {
    text-decoration: none;
    color: var(--tertiary-foreground);
}

main {
    height: 84vh;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
    height: 8vh;
    color: var(--secondary-foreground);
    background: var(--purple-gradient);
}

footer > p {
    margin: 0 15px;
}