/* 

Styling for header and footer.

*/

#default-header, #default-footer {
    font-family: "Fredoka";
}
#default-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--blue-gradient);
    position: relative;
    height: 8vh;
}

#default-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
    height: 8vh;
    color: var(--secondary-foreground);
    background: var(--purple-gradient);
}

#default-header li {
    display: inline;
    margin-right: 15px;
}

#default-header a {
    text-decoration: none;
    color: var(--secondary-foreground);
}

#default-header a:hover {
    text-decoration: none;
    color: var(--tertiary-foreground);
}

#content {
    height: 84vh;
}

#default-footer * {
    margin: 0 15px;
    display: inline;
}